@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre:700|Berkshire+Swash|Lato:300,400,700&display=swap');

$vertfonce: #007f0e;
$vertclair: #c5d45c;
$bleuclair: #acc8f1;
$orange: rgb(252, 198, 68);

*, *:after, *:before {
	box-sizing: border-box;
}

body {
    margin: 0;
    font: 20px Lato, sans;
    line-height: 1.4;
    font-weight: 300;
    background: #eee;
}

h1, h2, h3 {
	font-family: "Berkshire Swash", sans;
    font-weight: normal;
}

h1 {
	font-size: 1.8em;
}

h3 {
    font-size: 1.3em;
}


a {
    color: $vertfonce;
}

ul {
	list-style-type: none;
}


.social {
    text-decoration: none;
    font-size: 40px;

    &.twitter {
        color: #00acee;
    }

    &.instagram {
        color: #fb3958;
    }

    &.facebook {
        color: #3C5A99;
    }
}


.content {
	max-width: 800px;
    width: calc(80vw - 300px);
	margin-left: 300px;
    background: #fff;
    padding: 50px;
    min-height: 100vh;
}

article {
    padding: 0 15px;
    
    h1 {
        background-color: $vertclair;
        color: darken($vertfonce, 10%);
        padding: 10px;
        text-align: center;
    }

    h2, h3 {
        font-family: Lato, sans;
        font-weight: bold;
    }

    &::after {
	    display: block;
	    content: "";
	    width: 300px;
        max-width: 70vw;
	    margin: 3em auto;
	    border-bottom: 3px solid $vertfonce;
    }

    .chapo {
        font-weight: normal;
        font-style: italic;
    }
    
    figure {
        margin: 0 auto;
        text-align: center;
        figcaption p {
            font-size: 0.8em;
            margin: 0;
        }
    }

    ul li {
        list-style: disc;
    }

    .encadre {
        float: right;
        max-width: 300px;
        background: $vertclair;
        margin: 15px;
        padding: 15px;
        font-size: 0.9em;
        margin-right: -30px;
        
        & > *:first-child {
            margin-top: 0;
        }

        ul {
            padding: 0;
            li {
                list-style: inside;
            }
        }
    }
}

section.dossier {
    border-left: 4px solid $bleuclair;

    h1.dossier-head {
        background: $bleuclair;
        padding: 10px;
        text-align: center;
    }

    &.orange {
        border-left-color: $orange;
        h1.dossier-head {
            background: $orange;
        }
        article .encadre {
            background: $orange;
        }
    }
}

.toc {
    background-color: #eee;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    
    h2 {
        margin-top: 0;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        padding: 7px 3px;
        display: block;
    }

    ul {
        padding: 0 15px;
        margin: 10px;
        text-align: center;
        
        li {
            margin: 0;
            border-bottom: 1px solid darken($bleuclair, 30%);
        }
        li:first-child {
            border-top: 1px solid darken($bleuclair, 30%);
        }
    }

    li.dossier {
        border: 4px solid $bleuclair;
        .dossier-titre {
            background: $bleuclair;
            color: #333;
        }
        ul {
            padding: 0;
            margin: 0;
            li:last-child {
                border-bottom: none;
            }
        }

        &.orange {
            border-color: $orange;
            .dossier-titre {
                background: $orange;
            }
        }
    }
}

aside.nav-wrap {
    .sidebar {
        overflow: hidden;
        color: #fff;

        a {
            color: $vertclair;
            text-decoration: none;
            font-weight: bold;
        }

        img.logo {
            max-width: 100%;
            height: auto;
        }
    }

    .toc {
        font-size: 0.7em;
        max-width: 400px;
        ul {
            padding: 0;
        }
    }
    .minimenu {
        display: none;
    }
}

ul.liste-numeros {
    padding-left: 0;
    li {
        margin-bottom: 20px;
        p {
            text-align: center;
        }
    }
}
    
p.pdflink, ul.liste-numeros li {
    display: block;
    background: $vertclair;
    padding: 25px;
    
    h3 {
        font-family: Lato, sans;
        margin-top: 0;
        font-weight: bold;
    }
}

ul.liste-numeros li p, p.pdflink {
    a {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 50px;
        }
        font-weight: bold;
        img {
            vertical-align: middle;
            margin: 10px;
        }
    }
}

@media (min-width: 1001px) {
    aside.nav-wrap {
        .sidebar {
            position: fixed;
            background: $vertfonce;
            top: 0;
            left: 0;
            width: 300px;
            height: 100vh;

            .container {
                position: absolute;
                bottom: 0;
                padding: 20px;
            }
        }

        .toc {
            position: fixed;
            right: 0px;
            width: 19vw;
            bottom: 20px;
        }
    }
}

@media (min-width: 1350px) {
    aside.nav-wrap {
        .toc {
            width: unset;
            left: 1100px;
            right: unset;
        }
    }
}

@media (max-width: 1000px) and (min-width: 701px) {
    .content {
        width: unset;
        padding: 30px;
    }
    
    aside.nav-wrap {
        position: fixed;
        background: $vertfonce;
        top: 0;
        width: 300px;
        min-height: 100vh;
        margin-top: auto;
        margin-bottom: 0;

        & > div {
            overflow-y: auto;
            max-height: 100vh;
            position: absolute;
            bottom: 0;
            padding: 20px;
        }
        
        .toc {
            background: none;
            margin: 10px 0;
            padding: 0px;
            width: 100%;
            h2 {
                color: #fff;
            }
            ul {
                text-align: left;
                li {
                    border-bottom-color: $vertclair;
                    border-top-color: $vertclair;
                }
            }
            a {
                color: #fff;
            }
        }
    }
}

@media (max-width: 700px) {
    .content {
        width: unset;
        margin-left: 0;
        padding: 30px;
        margin-top: 40px;
    }
    
    aside.nav-wrap {
        position: fixed;
        background: $vertfonce;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100vw;
        overflow-y: auto;

        .minimenu {
            display: block;
            position: absolute;
            top: 7px;
            right: 10px;
        }
        .sidebar .container {
            .sidebar-about {
                h1 {
                    display: inline;
                    font-size: 30px;
                    margin: 0;
                }
                .lead {
                    display: none;
                }
            }
            img.logo {
                max-width: 40px;
                vertical-align: top;
            }

            nav ul {
                text-align: center;
                li {
                    display: inline-block;
                    & + li::before {
                        content: "|";
                    }
                }
            }
        }
        
        & > div {
            max-height: 100vh;
            bottom: 0;
            padding: 10px;
        }
        
        .toc {
            background: none;
            margin: 10px 0;
            padding: 0px;
            width: 100%;
            max-width: none;
            h2 {
                color: #fff;
                display: none;
            }
            ul {
                text-align: left;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                
                li {
                    border: none;
                    display: inline;
                    
                    a {
                        display: inline-block;
                        max-width: 150px;
                        overflow: hidden;
                        white-space: nowrap;
                        padding: 5px 10px;
                        text-overflow: ellipsis;
                    }
                }
            }
            a {
                color: #fff;
            }
        }

        &:not(.expanded) {
            overflow: hidden;
            nav, .toc {
                display: none;
            }
        }
    }
}

@media (max-width: 400px) {
    body {
        font-size: 17px;
    }
    .content {
        padding: 20px;
    }
}

@media (max-width: 850px) {
    
    article .encadre {
        float: unset;
        max-width: 90%;
        margin: 0 auto;
    }
}
