@import url("https://fonts.googleapis.com/css?family=Averia+Serif+Libre:700|Berkshire+Swash|Lato:300,400,700&display=swap");
*, *:after, *:before {
  box-sizing: border-box; }

body {
  margin: 0;
  font: 20px Lato, sans;
  line-height: 1.4;
  font-weight: 300;
  background: #eee; }

h1, h2, h3 {
  font-family: "Berkshire Swash", sans;
  font-weight: normal; }

h1 {
  font-size: 1.8em; }

h3 {
  font-size: 1.3em; }

a {
  color: #007f0e; }

ul {
  list-style-type: none; }

.social {
  text-decoration: none;
  font-size: 40px; }
  .social.twitter {
    color: #00acee; }
  .social.instagram {
    color: #fb3958; }
  .social.facebook {
    color: #3C5A99; }

.content {
  max-width: 800px;
  width: calc(80vw - 300px);
  margin-left: 300px;
  background: #fff;
  padding: 50px;
  min-height: 100vh; }

article {
  padding: 0 15px; }
  article h1 {
    background-color: #c5d45c;
    color: #004c08;
    padding: 10px;
    text-align: center; }
  article h2, article h3 {
    font-family: Lato, sans;
    font-weight: bold; }
  article::after {
    display: block;
    content: "";
    width: 300px;
    max-width: 70vw;
    margin: 3em auto;
    border-bottom: 3px solid #007f0e; }
  article .chapo {
    font-weight: normal;
    font-style: italic; }
  article figure {
    margin: 0 auto;
    text-align: center; }
    article figure figcaption p {
      font-size: 0.8em;
      margin: 0; }
  article ul li {
    list-style: disc; }
  article .encadre {
    float: right;
    max-width: 300px;
    background: #c5d45c;
    margin: 15px;
    padding: 15px;
    font-size: 0.9em;
    margin-right: -30px; }
    article .encadre > *:first-child {
      margin-top: 0; }
    article .encadre ul {
      padding: 0; }
      article .encadre ul li {
        list-style: inside; }

section.dossier {
  border-left: 4px solid #acc8f1; }
  section.dossier h1.dossier-head {
    background: #acc8f1;
    padding: 10px;
    text-align: center; }
  section.dossier.orange {
    border-left-color: #fcc644; }
    section.dossier.orange h1.dossier-head {
      background: #fcc644; }
    section.dossier.orange article .encadre {
      background: #fcc644; }

.toc {
  background-color: #eee;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto; }
  .toc h2 {
    margin-top: 0; }
  .toc a {
    text-decoration: none;
    font-weight: bold;
    padding: 7px 3px;
    display: block; }
  .toc ul {
    padding: 0 15px;
    margin: 10px;
    text-align: center; }
    .toc ul li {
      margin: 0;
      border-bottom: 1px solid #2971db; }
    .toc ul li:first-child {
      border-top: 1px solid #2971db; }
  .toc li.dossier {
    border: 4px solid #acc8f1; }
    .toc li.dossier .dossier-titre {
      background: #acc8f1;
      color: #333; }
    .toc li.dossier ul {
      padding: 0;
      margin: 0; }
      .toc li.dossier ul li:last-child {
        border-bottom: none; }
    .toc li.dossier.orange {
      border-color: #fcc644; }
      .toc li.dossier.orange .dossier-titre {
        background: #fcc644; }

aside.nav-wrap .sidebar {
  overflow: hidden;
  color: #fff; }
  aside.nav-wrap .sidebar a {
    color: #c5d45c;
    text-decoration: none;
    font-weight: bold; }
  aside.nav-wrap .sidebar img.logo {
    max-width: 100%;
    height: auto; }

aside.nav-wrap .toc {
  font-size: 0.7em;
  max-width: 400px; }
  aside.nav-wrap .toc ul {
    padding: 0; }

aside.nav-wrap .minimenu {
  display: none; }

ul.liste-numeros {
  padding-left: 0; }
  ul.liste-numeros li {
    margin-bottom: 20px; }
    ul.liste-numeros li p {
      text-align: center; }

p.pdflink, ul.liste-numeros li {
  display: block;
  background: #c5d45c;
  padding: 25px; }
  p.pdflink h3, ul.liste-numeros li h3 {
    font-family: Lato, sans;
    margin-top: 0;
    font-weight: bold; }

ul.liste-numeros li p a, p.pdflink a {
  display: inline-block;
  font-weight: bold; }
  ul.liste-numeros li p a:not(:last-child), p.pdflink a:not(:last-child) {
    margin-right: 50px; }
  ul.liste-numeros li p a img, p.pdflink a img {
    vertical-align: middle;
    margin: 10px; }

@media (min-width: 1001px) {
  aside.nav-wrap .sidebar {
    position: fixed;
    background: #007f0e;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh; }
    aside.nav-wrap .sidebar .container {
      position: absolute;
      bottom: 0;
      padding: 20px; }
  aside.nav-wrap .toc {
    position: fixed;
    right: 0px;
    width: 19vw;
    bottom: 20px; } }

@media (min-width: 1350px) {
  aside.nav-wrap .toc {
    width: unset;
    left: 1100px;
    right: unset; } }

@media (max-width: 1000px) and (min-width: 701px) {
  .content {
    width: unset;
    padding: 30px; }
  aside.nav-wrap {
    position: fixed;
    background: #007f0e;
    top: 0;
    width: 300px;
    min-height: 100vh;
    margin-top: auto;
    margin-bottom: 0; }
    aside.nav-wrap > div {
      overflow-y: auto;
      max-height: 100vh;
      position: absolute;
      bottom: 0;
      padding: 20px; }
    aside.nav-wrap .toc {
      background: none;
      margin: 10px 0;
      padding: 0px;
      width: 100%; }
      aside.nav-wrap .toc h2 {
        color: #fff; }
      aside.nav-wrap .toc ul {
        text-align: left; }
        aside.nav-wrap .toc ul li {
          border-bottom-color: #c5d45c;
          border-top-color: #c5d45c; }
      aside.nav-wrap .toc a {
        color: #fff; } }

@media (max-width: 700px) {
  .content {
    width: unset;
    margin-left: 0;
    padding: 30px;
    margin-top: 40px; }
  aside.nav-wrap {
    position: fixed;
    background: #007f0e;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    overflow-y: auto; }
    aside.nav-wrap .minimenu {
      display: block;
      position: absolute;
      top: 7px;
      right: 10px; }
    aside.nav-wrap .sidebar .container .sidebar-about h1 {
      display: inline;
      font-size: 30px;
      margin: 0; }
    aside.nav-wrap .sidebar .container .sidebar-about .lead {
      display: none; }
    aside.nav-wrap .sidebar .container img.logo {
      max-width: 40px;
      vertical-align: top; }
    aside.nav-wrap .sidebar .container nav ul {
      text-align: center; }
      aside.nav-wrap .sidebar .container nav ul li {
        display: inline-block; }
        aside.nav-wrap .sidebar .container nav ul li + li::before {
          content: "|"; }
    aside.nav-wrap > div {
      max-height: 100vh;
      bottom: 0;
      padding: 10px; }
    aside.nav-wrap .toc {
      background: none;
      margin: 10px 0;
      padding: 0px;
      width: 100%;
      max-width: none; }
      aside.nav-wrap .toc h2 {
        color: #fff;
        display: none; }
      aside.nav-wrap .toc ul {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; }
        aside.nav-wrap .toc ul li {
          border: none;
          display: inline; }
          aside.nav-wrap .toc ul li a {
            display: inline-block;
            max-width: 150px;
            overflow: hidden;
            white-space: nowrap;
            padding: 5px 10px;
            text-overflow: ellipsis; }
      aside.nav-wrap .toc a {
        color: #fff; }
    aside.nav-wrap:not(.expanded) {
      overflow: hidden; }
      aside.nav-wrap:not(.expanded) nav, aside.nav-wrap:not(.expanded) .toc {
        display: none; } }

@media (max-width: 400px) {
  body {
    font-size: 17px; }
  .content {
    padding: 20px; } }

@media (max-width: 850px) {
  article .encadre {
    float: unset;
    max-width: 90%;
    margin: 0 auto; } }
