{{ define "extranav" -}}
<div class="toc">
    <h2>Accès direct</h2>
    {{ partial "toc.html" . }}
</div>
{{- end }}
{{ define "main" -}}
<div class="intro">
    <h1>Le Temps Presse - {{ .Title }} - {{ .Param "dateFR" }}</h1>
    <p class="pdflink"><a href="letempspresse.pdf"><img src="icone-pdf.png" height="70px" />Version PDF imprimable</a></p>
    <div class="toc">
        <h2>Sommaire</h2>
        {{ partial "toc.html" . }}
    </div>
</div>
<section class="posts">
    {{ range (.Pages.ByParam "order") -}}
    
    {{ if (isset .Params "dossier-debut") }}
    <section class="dossier {{ .Param "dossier-class" }}">
        <h1 class="dossier-head"><a id="{{ .Param "dossier-debut" }}"></a>{{ .Param "dossier-titre" }}</h1>
    {{ end }}

    <article>
        <h1><a id="{{ .File.BaseFileName }}"></a>{{ .Title }}</h1>
        <div class="article-content">
            {{ .Content }}
        </div>
    </article>

    {{ if (isset .Params "dossier-fin") }}
    </section>
    {{ end }}
    {{- end }}
</section>
{{- end }}
