<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        {{ block "redirect" . -}}{{- end }}
    </head>

    <body>
        <aside class="nav-wrap" id="aside">
            <div>
                {{ partial "sidebar.html" . }}
                {{ block "extranav" . -}}{{- end }}
            </div>
        </aside>
        <main class="content container">
            {{ block "main" . -}}{{- end }}
        </main>
    </body>
</html>
