{{ define "redirect" -}}<meta http-equiv="refresh" content="1; url={{ .Parent.Permalink }}">{{- end }}

{{ define "main" -}}
<h1>404: Non trouvé</h1>
<p class="lead">Désolé, cette page n'existe pas. <a href="../">Page parente</a>.</p>
{{- end }}
