    <meta charset="utf-8">
    {{ hugo.Generator }}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .IsHome -}}
    <title>{{ .Site.Title }}</title>
    {{- else -}}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{- end }}

    {{ $style := resources.Get "sass/yfc.scss" | resources.ToCSS }}
    <link type="text/css" rel="stylesheet" href="{{ $style.Permalink  }}?v2">
    <link rel="shortcut icon" href="/images/favicon.ico" />
