    <div class="sidebar">
        <div class="container">
            <div class="sidebar-about">
                <img src="{{ .Site.BaseURL }}images/logo.jpg" class="logo">
                <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
                <a href="javascript:void();" class="minimenu" onclick="document.getElementById('aside').classList.toggle('expanded');"><img src="{{ .Site.BaseURL }}images/minimenu.svg"></a>
                <p class="lead">
                    Un journal de jeunes de <a href="http://youthforclimate.fr">Youth for Climate France</a>
                </p>
            </div>

            <nav>
                <ul class="sidebar-nav">
                    <li><a href="{{ .Site.BaseURL }}">Accueil</a> </li>
                    {{ range .Site.Menus.main -}}
                    <li><a href="{{.URL}}"> {{ .Name }} </a></li>
                    {{- end }}
                </ul>
            </nav>
        </div>
    </div>
