
<ul>
    {{ range (.Pages.ByParam "order") }}
    {{ if (isset .Params "dossier-debut") }}
    <li  class="dossier {{ .Param "dossier-class" }}">
        <a href="#{{ .Param "dossier-debut" }}" class="dossier-titre">{{ .Param "dossier-titre" }}</a>
        <ul>
            {{ end }}

            <li><a href="#{{ .File.BaseFileName }}">{{ if (isset .Params "seo-title") }}{{ .Param "seo-title" }}{{ else }}{{ .Title }}{{ end }}</a></li>

            {{ if (isset .Params "dossier-fin") }}
        </ul>
    </li>
    {{ end }}
    {{ end }}
</ul>
