{{ define "main" -}}
{{ with .Site.GetPage "/intro" }}{{ .Content }}{{ end }}

<h2>Numéros publiés</h2>
<ul class="liste-numeros">
    {{ with .Site.GetPage "/numero" }}
        {{ range .Sections }}
        <li>
            <h3>{{ .Title }} de {{ .Param "dateFR" }}</h3>
            <p class="links">
                <a href="{{ .Permalink }}">Version web</a>
                <a href="{{ .Permalink }}/letempspresse.pdf"><img src="{{ .Permalink }}/icone-pdf.png" height="70"/>Version PDF imprimable</a>
            </p>
        </li>
        {{ end }}
    {{ end }}
</ul>
{{- end }}
